<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1 style="text-align: center">{{ title }}</h1>
    <button style="background-color: #5abc25; color:white; padding: 1em; border-radius: 7px; margin: 2em 4em">TOTAL: $ 0</button>
    <h2 style="margin: 1em 3em; padding-bottom: 2em">Product List</h2>
    <section id="app"></section>
    <section id="containerApp"></section>
    <script src="/static/js/main.bundle.js"></script>
</body>
</html>
